astroid @ file:///C:/ci/astroid_1592487315634/work
backcall==0.2.0
certifi==2020.6.20
cffi @ file:///C:/ci/cffi_1600699246375/work
colorama==0.4.3
cryptography @ file:///C:/ci/cryptography_1601046905460/work
cycler==0.10.0
deap==1.3.1
decorator==4.4.2
ipython @ file:///C:/ci/ipython_1598865816163/work
ipython-genutils==0.2.0
isort @ file:///C:/ci/isort_1601484721408/work
jedi @ file:///C:/ci/jedi_1598353661586/work
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib @ file:///C:/ci/matplotlib-base_1597876438601/work
mccabe==0.6.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1596215850360/work
olefile==0.46
parso==0.7.1
pickleshare==0.7.5
Pillow @ file:///C:/ci/pillow_1594298230227/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1598885458782/work
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
pylint @ file:///C:/ci/pylint_1598617153160/work
PyMySQL @ file:///C:/ci/pymysql_1601579814119/work
pyparsing==2.4.7
python-dateutil==2.8.1
sip==4.19.13
six==1.15.0
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tornado==6.0.4
traitlets @ file:///tmp/build/80754af9/traitlets_1600712679583/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
wincertstore==0.2
wrapt==1.11.2
